In [ ]:
-- Drop table
DROP TABLE departments;

-- Create new table
CREATE TABLE departments (
    dept_no TEXT PRIMARY KEY,
    dept_name TEXT NOT NULL
);

In [ ]:
-- Drop table
DROP TABLE dept_emp;

-- Create new table
CREATE TABLE dept_emp (
    emp_no INT,
    dept_no TEXT,
    PRIMARY KEY (emp_no, dept_no),
    FOREIGN KEY (emp_no) REFERENCES employees(emp_no),
    FOREIGN KEY (dept_no) REFERENCES departments(dept_no)
);

In [ ]:
-- Drop table
DROP TABLE dept_manager;

-- Create new table
CREATE TABLE dept_manager (
    dept_no TEXT,
    emp_no INT,
    PRIMARY KEY (dept_no, emp_no),
    FOREIGN KEY (dept_no) REFERENCES departments(dept_no),
    FOREIGN KEY (emp_no) REFERENCES employees(emp_no)
);

In [ ]:
-- Drop table
DROP TABLE employees;

-- Create new table
CREATE TABLE employees (
    emp_no INT PRIMARY KEY,
    emp_title_id TEXT NOT NULL,
    birth_date DATE,
    first_name TEXT,
    last_name TEXT,
    sex TEXT,
    hire_date DATE
);

In [ ]:
-- Drop table
DROP TABLE salaries;

-- Create new table
CREATE TABLE salaries (
    emp_no INT,
    salary INT,
    FOREIGN KEY (emp_no) REFERENCES employees(emp_no)
);

In [ ]:
-- Drop table
DROP TABLE titles;

-- Create new table
CREATE TABLE titles (
    title_id TEXT PRIMARY KEY,
    title TEXT
);

In [ ]:
-- Import from employees & salaries CSV files into the tables
COPY employees FROM 'path_to_employees.csv' DELIMITER ',' CSV HEADER;
COPY salaries FROM 'path_to_salaries.csv' DELIMITER ',' CSV HEADER;

-- Query to list employee details and salaries
SELECT e.emp_no, e.last_name, e.first_name, e.sex, s.salary
FROM employees e
JOIN salaries s ON e.emp_no = s.emp_no;

In [ ]:
-- Import data from employees CSV file
COPY employees FROM 'path_to_employees.csv' DELIMITER ',' CSV HEADER;

-- Query to list employees hired in 1986
SELECT first_name, last_name, hire_date
FROM employees
WHERE EXTRACT(YEAR FROM hire_date) = 1986;

In [ ]:
-- Import data from departments, dept_manager & employees CSV files
COPY departments FROM 'path_to_departments.csv' DELIMITER ',' CSV HEADER;
COPY dept_manager FROM 'path_to_dept_manager.csv' DELIMITER ',' CSV HEADER;
COPY employees FROM 'path_to_employees.csv' DELIMITER ',' CSV HEADER;

-- Query to list the manager of each department with their details
SELECT dm.dept_no, d.dept_name, dm.emp_no, e.last_name, e.first_name
FROM dept_manager dm
JOIN departments d ON dm.dept_no = d.dept_no
JOIN employees e ON dm.emp_no = e.emp_no;

In [ ]:
-- Import data from departments, dept_emp, employees CSV files
COPY departments FROM 'path_to_departments.csv' DELIMITER ',' CSV HEADER;
COPY dept_emp FROM 'path_to_dept_emp.csv' DELIMITER ',' CSV HEADER;
COPY employees FROM 'path_to_employees.csv' DELIMITER ',' CSV HEADER;

-- Query to list the department number for each employee along with their details
SELECT de.dept_no, e.emp_no, e.last_name, e.first_name, d.dept_name
FROM dept_emp de
JOIN employees e ON de.emp_no = e.emp_no
JOIN departments d ON de.dept_no = d.dept_no;

In [ ]:
-- Import data from employes CSV file
COPY employees FROM 'path_to_employees.csv' DELIMITER ',' CSV HEADER;

-- Query to list employees whose first name is Hercules and last name begins with the letter B
SELECT first_name, last_name, sex
FROM employees
WHERE first_name = 'Hercules' AND last_name LIKE 'B%';

In [ ]:
-- Import data from departments, dept_emp and emploees CSV files
COPY departments FROM 'path_to_departments.csv' DELIMITER ',' CSV HEADER;
COPY dept_emp FROM 'path_to_dept_emp.csv' DELIMITER ',' CSV HEADER;
COPY employees FROM 'path_to_employees.csv' DELIMITER ',' CSV HEADER;

-- Query to list employees in the Sales department
SELECT e.emp_no, e.last_name, e.first_name
FROM employees e
JOIN dept_emp de ON e.emp_no = de.emp_no
JOIN departments d ON de.dept_no = d.dept_no
WHERE d.dept_name = 'Sales';

In [ ]:
-- Import data from departemtns, dept_em & employess CSV files into the tables
COPY departments FROM 'path_to_departments.csv' DELIMITER ',' CSV HEADER;
COPY dept_emp FROM 'path_to_dept_emp.csv' DELIMITER ',' CSV HEADER;
COPY employees FROM 'path_to_employees.csv' DELIMITER ',' CSV HEADER;

-- Query to list employees in the Sales and Development departments
SELECT e.emp_no, e.last_name, e.first_name, d.dept_name
FROM employees e
JOIN dept_emp de ON e.emp_no = de.emp_no
JOIN departments d ON de.dept_no = d.dept_no
WHERE d.dept_name IN ('Sales', 'Development');

In [ ]:
-- Import data from employees CSV file
COPY employees FROM 'path_to_employees.csv' DELIMITER ',' CSV HEADER;

-- Query to list the frequency counts of employee last names in descending order
SELECT last_name, COUNT(*) AS frequency
FROM employees
GROUP BY last_name
ORDER BY frequency DESC;